.container {
    position: relative;

    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
}

.stub {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    opacity: 0;

    will-change: opacity;

    transition: opacity 300ms ease-out;
}

.stub-visible {
    opacity: 1;
}
